@using DressShopWebUI.Controllers
@model IEnumerable<Domain.Entityes.OrderDetails>

@{
    ViewBag.Title = "Замовлення";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<label for="orderSelect">Фільтр замовлень</label>
<select id="orderSelect">
    <option></option>
    <option value="@((int) SortType.None)">Всі замовлення</option>
    <option value="@((int) SortType.Before)">Обрати нові замовлення</option>
    <option value="@((int) SortType.Later)">Обрати виконані замовлення </option>
</select>
<br /><br />

    <div id="OrdersInAdmin">
        @Html.Partial("Orders", Model)
    </div>

<script>
    $(document)
        .ready(function() {
            $("#orderSelect")
                .change(function() {
                    var data = {
                        sortType: $("#orderSelect option:selected").val()
                    };
                    $.ajax({
                        url: "/Admin/OrdeResult",
                        type: "POST",
                        data: data,
                        success: function(data) {
                            $("#OrdersInAdmin").html(data);
                        }
                    });
                });
        });
</script>



